.table-hover tbody tr:hover {
  background-color: #edf4ee;
}
.cursor-pointer {
  cursor: pointer;
}
tbody td,
th {
  border-bottom: 1px solid $success;
}
.font-base {
  font-size: $font-size-base;
}
.form-control:valid {
  border: none;
  background-color: $primary;
}
