.main {
  .main-nav {
    width: 296px;
    height: 100vh;
  }
  .nav-item:nth-child(6) {
    padding-bottom: 320px;
  }
  .list-unstyled:last-child a {
    font-size: 14px;
  }
  .text-menu {
    border-left: 4px solid transparent;
    &:hover {
      color: $secondary !important;
      border-left: 4px solid $secondary;
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
}
.user-img {
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.code-bg {
  background-color: $primary;
}
