.btn-secondary:hover {
  color: $secondary !important;
  background-color: $white;
}
.text-white:hover {
  color: $secondary !important;
}
.text-menu {
  color: $dark;
  border-left: 4px solid transparent;
  &:hover {
    color: $secondary !important;
    border-left: 4px solid $secondary;
  }
}
.page-link:hover {
  background-color: $secondary;
}
.table-hover tbody tr:hover {
  background-color: $primary;
}
