.code-bg {
  background-color: $primary;
}
.font-base {
  font-size: $font-size-base;
}

.list-style {
  list-style-type: disc;
}
.font-weight-600 {
  font-weight: 600;
}
.w-0 {
  width: 0;
}
.h-0 {
  height: 0;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.transition {
  transition: 0.5s;
}
.overflow-hidden {
  overflow: hidden;
}
.vertical-middle {
  vertical-align: middle;
}
.appearance-none {
  appearance: none;
}
.cursor-pointer {
  cursor: pointer;
}
